<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="head(title)">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${title} + ' | MoneyMe'">Title - MoneyMe</title>
    <link href="/static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
    <link href="/static/css/materialdesignicons.css" th:href="@{/css/materialdesignicons.css}" rel="stylesheet"/>
    <link rel="icon" th:href="@{/images/favicon.ico}" type="image/png">
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet"/>
    <!-- Google fonts-->
    <link rel="preconnect" href="https://fonts.gstatic.com"/>
    <link href="https://fonts.googleapis.com/css2?family=Newsreader:ital,wght@0,600;1,600&amp;display=swap"
          rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,300;0,500;0,600;0,700;1,300;1,500;1,600;1,700&amp;display=swap"
          rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;1,400&amp;display=swap"
          rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>
<!-- Navigation-->
<!-- navigation.html -->

<nav th:fragment="navigation" class="navbar navbar-expand-lg navbar-light fixed-top shadow-sm" id="mainNav">
    <div class="container px-5">
        <!-- Brand / Logo -->
        <a class="navbar-brand fw-bold" th:href="@{/mvc/home}" th:text="#{wallet.name}">
            MoneyMe
        </a>

        <!-- Mobile Toggle -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
            Menu <i class="bi-list"></i>
        </button>

        <!-- Collapsible Nav -->
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto me-4 my-3 my-lg-0">

                <!-- Admin (Dropdown) - Visible only for Admin -->
                <li class="nav-item dropdown" sec:authorize="isAuthenticated() and hasAnyAuthority('ADMIN')">
                    <a class="nav-link dropdown-toggle me-lg-3"
                       href="#" id="adminDropdown"
                       role="button" data-bs-toggle="dropdown"
                       aria-expanded="false"
                       th:text="#{navigation.admin}">
                        Admin
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="adminDropdown">
                        <li>
                            <a class="dropdown-item"
                               th:href="@{/mvc/admin/users}"
                               th:text="#{navigation.viewUsers}">
                                View All Users
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item"
                               th:href="@{/mvc/admin/transactions}"
                               th:text="#{navigation.viewTransactions}">
                                View All Transactions
                            </a>
                        </li>
                    </ul>
                </li>
                <!-- Cards (Dropdown) -->
                <li class="nav-item dropdown" sec:authorize="isAuthenticated()">
                    <a class="nav-link dropdown-toggle me-lg-3" href="#" id="cardsDropdown"
                       role="button" data-bs-toggle="dropdown" aria-expanded="false"
                       th:text="#{navigation.cards}">
                        Cards
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="cardsDropdown">
                        <li>
                            <a class="dropdown-item"
                               th:href="@{/mvc/profile/cards}"
                               th:text="#{navigation.viewCards}">
                                View Cards
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item"
                               th:href="@{/mvc/profile/cards/new}"
                               th:text="#{navigation.addCard}">
                                Add Card
                            </a>
                        </li>
                    </ul>
                </li>

                <!-- Wallets (Dropdown) -->
                <li class="nav-item dropdown" sec:authorize="isAuthenticated()">
                    <a class="nav-link dropdown-toggle me-lg-3" href="#" id="walletsDropdown"
                       role="button" data-bs-toggle="dropdown" aria-expanded="false"
                       th:text="#{navigation.wallets}">
                        Wallets
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="walletsDropdown">
                        <li>
                            <a class="dropdown-item"
                               th:href="@{/mvc/profile/wallets}"
                               th:text="#{navigation.viewWallets}">
                                View Wallets
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item"
                               th:href="@{/mvc/profile/wallets#}"
                               th:text="#{navigation.addWallet}">
                                Add Wallet
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item"
                               th:href="@{/mvc/profile/wallets/fund-wallet}"
                               th:text="#{navigation.fundWallet}">
                                Fund Wallet
                            </a>
                        </li>
                    </ul>
                </li>

                <!-- Your Activity (Dropdown) -->
                <li class="nav-item dropdown" sec:authorize="isAuthenticated()">
                    <a class="nav-link dropdown-toggle me-lg-3" href="#" id="activityDropdown"
                       role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Your Activity
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="activityDropdown">
                        <li>
                            <a class="dropdown-item"
                               th:href="@{/mvc/profile/transactions}"
                               th:text="#{navigation.transactionsHistory}">
                                Transaction History
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item"
                               th:href="@{/mvc/profile/transfers}"
                               th:text="#{navigation.transferHistory}">
                                Transfer History
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item"
                               th:href="@{/mvc/profile/exchanges}"
                               th:text="#{navigation.exchangeHistory}">
                                Exchange History
                            </a>
                        </li>
                    </ul>
                </li>

                <!-- Sign Up (Visible only if NOT authenticated) -->
                <li class="nav-item" sec:authorize="!isAuthenticated()">
                    <a class="nav-link me-lg-3"
                       th:href="@{/mvc/auth/register}"
                       th:text="#{navigation.sign-up}">
                        Sign Up
                    </a>
                </li>

                <!-- Logout (Visible only if authenticated) -->
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link me-lg-3"
                       th:href="@{/mvc/auth/logout}"
                       th:text="#{navigation.logout}">
                        Logout
                    </a>
                </li>

                <!-- Login (Visible only if NOT authenticated) -->
                <li class="nav-item" sec:authorize="!isAuthenticated()">
                    <a class="nav-link me-lg-3"
                       th:href="@{/mvc/auth/login}"
                       th:text="#{navigation.login}">
                        Login
                    </a>
                </li>

                <!-- Features & Download (Always Visible) -->
                <li class="nav-item" sec:authorize="!isAuthenticated()">
                    <a class="nav-link me-lg-3"
                       th:href="@{/mvc/home#features}">
                        Features
                    </a>
                </li>
                <li class="nav-item" sec:authorize="!isAuthenticated()">
                    <a class="nav-link me-lg-3"
                       th:href="@{/mvc/home#download}">
                        Download
                    </a>
                </li>
            </ul>

            <!-- Feedback Button -->
            <button sec:authorize="!isAuthenticated()" class="btn btn-primary rounded-pill px-3 mb-2 mb-lg-0"
                    data-bs-toggle="modal" data-bs-target="#feedbackModal">
                <span class="d-flex align-items-center">
                    <i class="bi-chat-text-fill me-2"></i>
                    <span class="small">Send Feedback</span>
                </span>
            </button>

                    <!-- ProfilePic -->
            <a sec:authorize="isAuthenticated()" th:href="@{/mvc/profile}"
               class="btn btn-primary rounded-pill d-flex align-items-center p-0 overflow-hidden">
                <img th:src="@{${#authentication.principal.photo}}" alt="Profile Picture"
                     class="rounded-start-circle" style="width: 37px; height: 37px; object-fit: cover;">
                <span class="small text-white px-3 py-2" th:text="${#authentication.principal.username}">Username</span>
            </a>

        </div>
    </div>
</nav>

<div th:fragment="download-buttons">
    <a class="me-lg-3 mb-4 mb-lg-0" href="https://play.google.com/store/search?q=MoneyMe&c=apps&hl=en"
       target="_blank"><img class="app-badge" src="/assets/img/google-play-badge.svg"
                            alt="Google Play Download Redirect"/></a>
    <a href="https://www.apple.com/us/search/MoneyMe?src=globalnav" target="_blank"><img class="app-badge"
                                                                                         src="/assets/img/app-store-badge.svg"
                                                                                         alt="App Store Download Redirect"/></a>
</div>
<footer th:fragment="footer" class="bg-black py-5">
    <div class="container px-5">
        <div class="row align-items-center text-white-50 fs-5">

            <!-- Left Section - MoneyMe with Social Icons -->
            <div class="col-md-4 text-md-start text-center mb-3 mb-md-0">
                <div class="d-flex align-items-center justify-content-center justify-content-md-start">
                    <a class="logo-footer text-white fw-bold me-3" href="#" th:text="#{wallet.name}">MoneyMe</a>
                    <!-- Spacing added -->
                </div>
                <p class="mt-2" th:text="#{footer.description}"></p>
                <div class="d-flex align-items-center justify-content-center justify-content-md-start">
                    <a style="margin-right: 1rem" th:text="#{footer.update}">Stay updated:</a> <!-- Spacing added -->
                    <ul class="list-unstyled d-flex mb-0">
                        <li class="list-inline-item me-2">
                            <a href="https://www.facebook.com/TelerikAcademy/" target="_blank"
                               class="rounded text-white">
                                <i class="fab fa-facebook-f"></i> <!-- FontAwesome Icon -->
                            </a>
                        </li>
                        <li class="list-inline-item me-2">
                            <a href="https://www.instagram.com/telerikacademy/" target="_blank"
                               class="rounded text-white">
                                <i class="fab fa-instagram"></i> <!-- FontAwesome Icon -->
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://x.com/TelerikAcademy" target="_blank" class="rounded text-white">
                                <i class="fab fa-x"></i> <!-- FontAwesome Icon -->
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- Center Section - All Rights Reserved -->
            <div class="col-md-4 text-md-center text-center mb-3 mb-md-0">
                <p class="m-0">
                    &copy; <span th:text="#{wallet.name}"></span> <span
                        th:text="${#dates.year(#dates.createNow()) + '.'}"></span> <span
                        th:text="#{wallet.rights}"></span>
                </p>
                <a href="/mvc/privacy" th:href="@{/mvc/privacy}" class="text-white"
                   th:text="#{wallet.privacy}">Privacy</a>
                <span class="mx-1">&middot;</span>
                <a href="/mvc/terms" th:href="@{/mvc/terms}" class="text-white" th:text="#{wallet.terms}">Terms</a>
                <span class="mx-1">&middot;</span>
                <a href="/mvc/faq" th:href="@{/mvc/faq}" class="text-white" th:text="#{wallet.faq}">FAQ</a>
            </div>

            <!-- Right Section - Credit -->
            <div class="col-md-4 text-md-end text-center">
                <span th:text="#{footer.credit}"></span>
                <a href="https://github.com/ivanoffcode" target="_blank" class="text-white fw-bold">Ivan Ivanov</a> &
                <a href="https://github.com/georgi-benchev" target="_blank" class="text-white fw-bold">Georgi
                    Benchev</a>
                <br>
                <span th:text="#{footer.powered}"></span>
                <a href="https://en.wikipedia.org/wiki/Spring_Boot" target="_blank" class="text-success">Spring Boot</a>
                <br>
                <!-- Feedback Button -->
                <button class="btn btn-primary rounded-pill px-3 mb-2 mb-lg-0"
                        data-bs-toggle="modal" data-bs-target="#feedbackModal">
                <span class="d-flex align-items-center">
                    <i class="bi-chat-text-fill me-2"></i>
                    <span class="small">Send Feedback</span>
                </span>
                </button>
            </div>
        </div>
    </div>
    <div th:insert="~{fragments/Page-Layout :: feedbackModal}"></div>
</footer>
<div th:fragment="feedbackModal" class="modal fade" id="feedbackModal" tabindex="-1" aria-labelledby="feedbackModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-gradient-primary-to-secondary p-4">
                <h5 class="modal-title font-alt text-white" id="feedbackModalLabel">Send feedback</h5>
                <button class="btn-close btn-close-white" type="button" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body border-0 p-4">
                <!-- * * * * * * * * * * * * * * *-->
                <!-- * * SB Forms Contact Form * *-->
                <!-- * * * * * * * * * * * * * * *-->
                <!-- This form is pre-integrated with SB Forms.-->
                <!-- To make this form functional, sign up at-->
                <!-- https://startbootstrap.com/solution/contact-forms-->
                <!-- to get an API token!-->
                <form id="contactForm" data-sb-form-api-token="API_TOKEN">
                    <!-- Name input-->
                    <div class="form-floating mb-3">
                        <input class="form-control" id="name" type="text" placeholder="Enter your name..."
                               data-sb-validations="required"/>
                        <label for="name">Full name</label>
                        <div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div>
                    </div>
                    <!-- Email address input-->
                    <div class="form-floating mb-3">
                        <input class="form-control" id="email" type="email" placeholder="name@example.com"
                               data-sb-validations="required,email"/>
                        <label for="email">Email address</label>
                        <div class="invalid-feedback" data-sb-feedback="email:required">An email is required.</div>
                        <div class="invalid-feedback" data-sb-feedback="email:email">Email is not valid.</div>
                    </div>
                    <!-- Phone number input-->
                    <div class="form-floating mb-3">
                        <input class="form-control" id="phone" type="tel" placeholder="(123) 456-7890"
                               data-sb-validations="required"/>
                        <label for="phone">Phone number</label>
                        <div class="invalid-feedback" data-sb-feedback="phone:required">A phone number is required.
                        </div>
                    </div>
                    <!-- Message input-->
                    <div class="form-floating mb-3">
                        <textarea class="form-control" id="message" type="text" placeholder="Enter your message here..."
                                  style="height: 10rem" data-sb-validations="required"></textarea>
                        <label for="message">Message</label>
                        <div class="invalid-feedback" data-sb-feedback="message:required">A message is required.</div>
                    </div>
                    <!-- Submit success message-->
                    <!---->
                    <!-- This is what your users will see when the form-->
                    <!-- has successfully submitted-->
                    <div class="d-none" id="submitSuccessMessage">
                        <div class="text-center mb-3">
                            <div class="fw-bolder">Form submission successful!</div>
                            To activate this form, sign up at
                            <br/>
                            <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                        </div>
                    </div>
                    <!-- Submit error message-->
                    <!---->
                    <!-- This is what your users will see when there is-->
                    <!-- an error submitting the form-->
                    <div class="d-none" id="submitErrorMessage">
                        <div class="text-center text-danger mb-3">Error sending message!</div>
                    </div>
                    <!-- Submit Button-->
                    <div class="d-grid">
                        <button class="btn btn-primary rounded-pill btn-lg disabled" id="submitButton" type="submit">
                            Submit
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div th:fragment="coreJS">
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Bootstrap Bundle (JS + Popper.js) -->
    <script th:src="@{/js/bootstrap.bundle.min.js}" defer></script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var dropdownElements = document.querySelectorAll('[data-bs-toggle="dropdown"]');
            dropdownElements.forEach(function(element) {
                new bootstrap.Dropdown(element);
            });
        });
    </script>

    <!-- Core theme JS-->
    <script src="/js/scripts.js"></script>
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
    <!-- * *                               SB Forms JS                               * *-->
    <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
    <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
</div>
</body>
</html>
