<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="~{fragments/Page-Layout :: head('Funding Successful')}"></head>
<body id="page-top">
<nav th:insert="~{fragments/Page-Layout :: navigation}"></nav>

<section class="bg-home">
    <div class="home-center">
        <div class="home-desc-center">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-7 col-md-6">
                        <div class="mr-lg-5">
                            <img th:src="@{/images/transfer-successful.jpg}" class="img-fluid d-block mx-auto"
                                 alt="transfer-successful">
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-6 mt-4 mt-sm-0 pt-2 pt-sm-0">
                        <div class="alert alert-success">
                            <h4 class="mb-4" th:text="#{transfer.successful}"></h4>
                            <span th:text="#{funding.tranfer.successful.text}"></span>
                            <strong><span th:text="${amount} + ' '"></span><span th:text="${currency}"></span></strong>
                            <div class="margin-top"><span th:text="#{transfers.viewAll}"></span>
                                <a th:href="@{/mvc/profile/transfers}" th:text="#{transfers.link}"
                                   class="text-dark font-weight-bold"></a></div>
                        </div>
                    </div>
                </div> <!--end col-->
            </div><!--end row-->
        </div> <!--end container-->
    </div>
</section><!--end section-->

<footer th:insert="~{fragments/Page-Layout :: footer}"></footer>
<div th:insert="~{fragments/Page-Layout :: coreJS}"></div>
</body>
</html>