<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="~{fragments/Page-Layout :: head(Home)}"></head>
<body id="page-top">
<!-- Navigation-->
<nav th:insert="~{fragments/Page-Layout :: navigation}"></nav>
<!-- Mashead header-->
<header class="masthead">
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6">
                <!-- Mashead text and app badges-->
                <div class="mb-5 mb-lg-0 text-center text-lg-start">
                    <h1 class="display-1 lh-1 mb-3">SENDING MONEY DONE EASY</h1>
                    <p class="lead fw-normal text-muted mb-3">With MoneyMe Virtual Wallet, you can send money to anyone,
                        across countries and currencies. Create your account and start right away. Your card details stay
                        private. Sign up for free, in just a tap.</p>
                    <a class="btn btn-primary py-3 px-4 rounded-pill mb-3" href="/mvc/auth/register"
                       th:href="@{/mvc/auth/register}"><strong>Sign up for free!</strong></a>
                </div>
            </div>
            <div class="col-lg-6">
                <!-- Masthead device mockup feature-->
                <div class="masthead-device-mockup">
                    <svg class="circle" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                        <defs>
                            <linearGradient id="circleGradient" gradientTransform="rotate(45)">
                                <stop class="gradient-start-color" offset="0%"></stop>
                                <stop class="gradient-end-color" offset="100%"></stop>
                            </linearGradient>
                        </defs>
                        <circle cx="50" cy="50" r="50"></circle>
                    </svg
                    >
                    <svg class="shape-1 d-none d-sm-block" viewBox="0 0 240.83 240.83"
                         xmlns="http://www.w3.org/2000/svg">
                        <rect x="-32.54" y="78.39" width="305.92" height="84.05" rx="42.03"
                              transform="translate(120.42 -49.88) rotate(45)"></rect>
                        <rect x="-32.54" y="78.39" width="305.92" height="84.05" rx="42.03"
                              transform="translate(-49.88 120.42) rotate(-45)"></rect>
                    </svg
                    >
                    <svg class="shape-2 d-none d-sm-block" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="50" cy="50" r="50"></circle>
                    </svg>
                    <div class="device-wrapper">
                        <div class="device" data-device="iPhoneX" data-orientation="portrait" data-color="black">
                            <div class="screen bg-black">
                                <!-- PUT CONTENTS HERE:-->
                                <!-- * * This can be a video, image, or just about anything else.-->
                                <!-- * * Set the max width of your media to 100% and the height to-->
                                <!-- * * 100% like the demo example below.-->
                                <video muted="muted" autoplay="" loop="" style="max-width: 100%; height: 100%">
                                    <source src="/assets/img/wallet_home2.mp4" type="video/mp4"/>
                                </video>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Quote/testimonial aside-->
<aside class="text-center bg-gradient-primary-to-secondary">
    <div class="container px-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-xl-8">
                <div class="h2 fs-1 text-white mb-4">"An intuitive solution to many financial
                    day-to-day problems that we all face,
                    wrapped up in a single app!"
                </div>
                <a href="/mvc/auth/register" th:href="@{/mvc/auth/register}">
                    <img src="/assets/img/MoneyMeLogo.jpg" alt="..." style="height: 3rem"/>
                </a>
            </div>
        </div>
    </div>
</aside>
<!-- App features section-->
<section id="features">
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-8 order-lg-1 mb-5 mb-lg-0">
                <div class="container-fluid px-5">
                    <div class="row gx-5">
                        <div class="col-md-6 mb-5">
                            <!-- Feature item-->
                            <div class="text-center">
                                <i class="bi bi-cash-stack icon-feature text-gradient d-block mb-3"></i>
                                <h3 class="font-alt">Send Money</h3>
                                <p class="text-muted mb-0">Find a recipient, select currency, enter amount. Done!</p>
                            </div>
                        </div>
                        <div class="col-md-6 mb-5">
                            <!-- Feature item-->
                            <div class="text-center">
                                <i class="bi bi-shield-fill-check icon-feature text-gradient d-block mb-3"></i>
                                <h3 class="font-alt">Secure</h3>
                                <p class="text-muted mb-0">Your information stays secure, no external validations.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-5 mb-md-0">
                            <!-- Feature item-->
                            <div class="text-center">
                                <i class="bi bi-toggle-on icon-feature text-gradient d-block mb-3"></i>
                                <h3 class="font-alt">Free of charge</h3>
                                <p class="text-muted mb-0">No charges, no taxes, no subscriptions. Our services remain free.</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <!-- Feature item-->
                            <div class="text-center">
                                <i class="bi bi-bar-chart-steps icon-feature text-gradient d-block mb-3"></i>
                                <h3 class="font-alt">Easy to use</h3>
                                <p class="text-muted mb-0">In just a few steps, you can start sending today!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 order-lg-0">
                <!-- Features section device mockup-->
                <div class="features-device-mockup">
                    <svg class="circle" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                        <defs>
                            <linearGradient id="circleGradient" gradientTransform="rotate(45)">
                                <stop class="gradient-start-color" offset="0%"></stop>
                                <stop class="gradient-end-color" offset="100%"></stop>
                            </linearGradient>
                        </defs>
                        <circle cx="50" cy="50" r="50"></circle>
                    </svg
                    >
                    <svg class="shape-1 d-none d-sm-block" viewBox="0 0 240.83 240.83"
                         xmlns="http://www.w3.org/2000/svg">
                        <rect x="-32.54" y="78.39" width="305.92" height="84.05" rx="42.03"
                              transform="translate(120.42 -49.88) rotate(45)"></rect>
                        <rect x="-32.54" y="78.39" width="305.92" height="84.05" rx="42.03"
                              transform="translate(-49.88 120.42) rotate(-45)"></rect>
                    </svg
                    >
                    <svg class="shape-2 d-none d-sm-block" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="50" cy="50" r="50"></circle>
                    </svg>
                    <div class="device-wrapper">
                        <div class="device" data-device="iPhoneX" data-orientation="portrait" data-color="black">
                            <div class="screen bg-black">
                                <!-- PUT CONTENTS HERE:-->
                                <!-- * * This can be a video, image, or just about anything else.-->
                                <!-- * * Set the max width of your media to 100% and the height to-->
                                <!-- * * 100% like the demo example below.-->
                                <video muted="muted" autoplay="" loop="" style="max-width: 100%; height: 100%">
                                    <source src="/assets/img/send_money.mp4" type="video/mp4"/>
                                </video>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Basic features section-->
<section class="bg-light">
    <div class="container px-5">
        <div class="row gx-5 align-items-center justify-content-center justify-content-lg-between">
            <div class="col-12 col-lg-5">
                <h2 class="display-4 lh-1 mb-4">Step into the new age of mobile transfers with us!</h2>
                <p class="lead fw-normal text-muted mb-5 mb-lg-0">MoneyMe was built to simplify the way people
                    move money — locally and globally. Whether you're sending funds to a friend, topping up your wallets,
                    or exchanging currencies, our platform ensures it's fast, secure, and effortless. No hidden
                    fees, no unnecessary steps — just smooth digital finance at your fingertips.</p>
            </div>
            <div class="col-sm-8 col-md-6">
                <div class="px-5 px-sm-0"><img class="img-fluid rounded-circle"
                                               src="/assets/img/users_image.jpg" alt="..."/></div>
            </div>
        </div>
    </div>
</section>
<section id="features2">
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-8 order-lg-0 mb-5 mb-lg-0">
                <div class="container-fluid px-5">
                    <div class="row gx-5">
                        <div class="col-md-6 mb-5">
                            <div class="text-center">
                                <i class="bi bi-credit-card icon-feature text-gradient d-block mb-3"></i>
                                <h3 class="font-alt">Adding a card is simple</h3>
                                <p class="text-muted mb-0">Link your debit or credit card and fund your wallets in seconds.</p>
                            </div>
                        </div>
                        <div class="col-md-6 mb-5">
                            <div class="text-center">
                                <i class="bi bi-bank icon-feature text-gradient d-block mb-3"></i>
                                <h3 class="font-alt">Bank to Wallet</h3>
                                <p class="text-muted mb-0">Easily transfer money from your bank using our secure connection.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-5 mb-md-0">
                            <div class="text-center">
                                <i class="bi bi-wallet2 icon-feature text-gradient d-block mb-3"></i>
                                <h3 class="font-alt">Multiple Wallets</h3>
                                <p class="text-muted mb-0">Fund and manage multiple wallets, one for each of our supported currencies.</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="text-center">
                                <i class="bi bi-clock-history icon-feature text-gradient d-block mb-3"></i>
                                <h3 class="font-alt">Detailed History</h3>
                                <p class="text-muted mb-0">Track all your wallet top-ups, transactions and exchanges, all filterable by date, amount, and funding source.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 order-lg-1">
                <div class="features-device-mockup">
                    <svg class="circle" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                        <defs>
                            <linearGradient id="circleGradient" gradientTransform="rotate(45)">
                                <stop class="gradient-start-color" offset="0%"></stop>
                                <stop class="gradient-end-color" offset="100%"></stop>
                            </linearGradient>
                        </defs>
                        <circle cx="50" cy="50" r="50"></circle>
                    </svg>
                    <svg class="shape-1 d-none d-sm-block" viewBox="0 0 240.83 240.83" xmlns="http://www.w3.org/2000/svg">
                        <rect x="-32.54" y="78.39" width="305.92" height="84.05" rx="42.03"
                              transform="translate(120.42 -49.88) rotate(45)"></rect>
                        <rect x="-32.54" y="78.39" width="305.92" height="84.05" rx="42.03"
                              transform="translate(-49.88 120.42) rotate(-45)"></rect>
                    </svg>
                    <svg class="shape-2 d-none d-sm-block" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="50" cy="50" r="50"></circle>
                    </svg>
                    <div class="device-wrapper">
                        <div class="device" data-device="iPhoneX" data-orientation="portrait" data-color="black">
                            <div class="screen bg-black">
                                <video muted="muted" autoplay="" loop="" style="max-width: 100%; height: 100%">
                                    <source src="/assets/img/fund_wallet.mp4" type="video/mp4"/>
                                </video>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<aside class="text-center bg-gradient-primary-to-secondary">
    <div class="container px-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-xl-8">
                <div class="h2 fs-1 text-white mb-4">"A virtual wallet app developed by our greatest alumni!"
                </div>
                <a href="https://www.telerikacademy.com/">
                    <img src="/assets/img/telerik_logo.png" alt="..." style="height: 3rem"/>
                </a>
            </div>
        </div>
    </div>
</aside>
<!-- App features section-->
<section id="features3">
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-8 order-lg-1 mb-5 mb-lg-0">
                <div class="container-fluid px-5">
                    <div class="row gx-5">
                        <div class="col-md-6 mb-5">
                            <!-- Feature item-->
                            <div class="text-center">
                                <i class="bi bi-currency-exchange icon-feature text-gradient d-block mb-3"></i>
                                <h3 class="font-alt">Exchange Money</h3>
                                <p class="text-muted mb-0">Convert between supported currencies within your wallets at live rates.</p>
                            </div>
                        </div>
                        <div class="col-md-6 mb-5">
                            <!-- Feature item-->
                            <div class="text-center">
                                <i class="bi bi-globe icon-feature text-gradient d-block mb-3"></i>
                                <h3 class="font-alt">Multi-Currency Support</h3>
                                <p class="text-muted mb-0">Create wallets in different currencies and manage them with ease.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-5 mb-md-0">
                            <!-- Feature item-->
                            <div class="text-center">
                                <i class="bi bi-graph-up icon-feature text-gradient d-block mb-3"></i>
                                <h3 class="font-alt">Live Exchange Rates</h3>
                                <p class="text-muted mb-0">Always up-to-date rates when performing conversions between currencies.</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <!-- Feature item-->
                            <div class="text-center">
                                <i class="bi bi-gear-wide-connected icon-feature text-gradient d-block mb-3"></i>
                                <h3 class="font-alt">Easy Management</h3>
                                <p class="text-muted mb-0">Choose the wallet and currency you want to use — quick, clean, and simple.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 order-lg-0">
                <!-- Features section device mockup-->
                <div class="features-device-mockup">
                    <svg class="circle" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                        <defs>
                            <linearGradient id="circleGradient" gradientTransform="rotate(45)">
                                <stop class="gradient-start-color" offset="0%"></stop>
                                <stop class="gradient-end-color" offset="100%"></stop>
                            </linearGradient>
                        </defs>
                        <circle cx="50" cy="50" r="50"></circle>
                    </svg
                    >
                    <svg class="shape-1 d-none d-sm-block" viewBox="0 0 240.83 240.83"
                         xmlns="http://www.w3.org/2000/svg">
                        <rect x="-32.54" y="78.39" width="305.92" height="84.05" rx="42.03"
                              transform="translate(120.42 -49.88) rotate(45)"></rect>
                        <rect x="-32.54" y="78.39" width="305.92" height="84.05" rx="42.03"
                              transform="translate(-49.88 120.42) rotate(-45)"></rect>
                    </svg
                    >
                    <svg class="shape-2 d-none d-sm-block" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="50" cy="50" r="50"></circle>
                    </svg>
                    <div class="device-wrapper">
                        <div class="device" data-device="iPhoneX" data-orientation="portrait" data-color="black">
                            <div class="screen bg-black">
                                <!-- PUT CONTENTS HERE:-->
                                <!-- * * This can be a video, image, or just about anything else.-->
                                <!-- * * Set the max width of your media to 100% and the height to-->
                                <!-- * * 100% like the demo example below.-->
                                <video muted="muted" autoplay="" loop="" style="max-width: 100%; height: 100%">
                                    <source src="/assets/img/exchange_currencies.mp4" type="video/mp4"/>
                                </video>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Call to action section-->
<section class="cta">
    <div class="cta-content">
        <div class="container px-5">
            <h2 class="text-white display-1 lh-1 mb-4">
                Stop waiting.
                <br/>
                Start sending.
            </h2>
            <a class="btn btn-outline-light py-3 px-4 rounded-pill" href="/mvc/auth/register" th:href="@{/mvc/auth/register}"
               th:text="#{wallet.sign-up}">Sign up for free!</a>
        </div>
    </div>
</section>
<!-- Footer-->
<footer th:insert="~{fragments/Page-Layout :: footer}"></footer>
<div th:insert="~{fragments/Page-Layout :: coreJS}"></div>
</body>
</html>
