<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments/Page-Layout :: head('New-Password')}">Login</head>
<header th:insert="~{fragments/Page-Layout :: navigation}">
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
</header>
<header class="py-2 bg-light border-bottom mb-4">
    <div class="container">
        <div class="text-center ">
            <h1 class="fw-bolder" th:text="'New-Password'">Page info</h1>
        </div>
    </div>
</header>
<body>
<!-- Hero Start -->
<section class="bg-home">
    <div class="home-center">
        <div class="home-desc-center">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-7 col-md-6">
                        <div class="mr-lg-5">
                            <img src="/images/user/login.svg" th:src="@{/images/user/login.svg}"
                                 class="img-fluid d-block mx-auto" alt="Login Stock Image">
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-6 mt-4 mt-sm-0 pt-2 pt-sm-0 move-up">
                        <div class="login-page bg-white shadow rounded p-4">
                            <div class="text-center">
                                <h4 class="mb-4">Chose New Password</h4>
                            </div>
                            <form class="login-form" th:action="@{/mvc/auth/password-reset/{id}(id=${tokenId})}"
                                  th:object="${newPasswordInput}" method="post">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <!-- Password Field -->
                                        <div class="form-group position-relative">
                                        <span class="bi bi-info-circle text-danger me-1 hover-info-custom"
                                              data-hover-text="Password must be at least 8 symbols long
                                                    and contain at least: 1 digit (0-9),
                                                    1 capital letter (A-Z), 1 small letter (a-z)
                                                    and 1 special symbol ( !@#$%^&*()-+=[]{}|,.<>?/\~ )">
                                            </span>
                                            <label th:text="#{user.header.new.password}"></label>
                                            <span class="text-danger"> *</span>
                                            <div class="input-group d-flex align-items-center">
                                                <input type="password" th:field="*{password}"
                                                       class="form-control flex-grow-1 pl-5" id="passwordField"
                                                       placeholder="Password" required="">
                                                <!-- Show/Hide Password Button -->
                                                <button type="button" class="btn btn-outline-dark toggle-password ml-2">
                                                    <i class="fas fa-eye"></i>
                                                </button>
                                            </div>
                                            <div th:if="${#fields.hasErrors('password')}"
                                                 class="alert alert-danger alert-pills">
                                                <span class="alert-content"
                                                      th:text="${#fields.errors('password')[0]}"></span>
                                            </div>
                                        </div>
                                        <!-- Password Confirm Field -->
                                        <div class="form-group position-relative">
                                            <label th:text="#{user.header.new.password.confirm}"></label>
                                            <span class="text-danger"> *</span>
                                            <div class="input-group d-flex align-items-center">
                                                <input type="password" class="form-control flex-grow-1 pl-5"
                                                       th:field="*{passwordConfirm}" id="confirmPasswordField"
                                                       placeholder="Confirm Password" name="passwordConfirmation"
                                                       required="">
                                                <!-- Show/Hide Confirm Password Button -->
                                                <button type="button" class="btn btn-outline-dark toggle-password ml-2">
                                                    <i class="fas fa-eye"></i>
                                                </button>
                                            </div>
                                            <div th:if="${#fields.hasErrors('passwordConfirm')}"
                                                 class="alert alert-danger alert-pills">
                                                <span class="alert-content"
                                                      th:text="${#fields.errors('passwordConfirm')[0]}"></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-12 mb-0">
                                        <button class="btn btn-primary rounded-pill w-100">Reset Password</button>
                                    </div>
                                    <div class="col-12 text-center">
                                        <p class="mb-0 mt-3">
                                            <small class="text-dark mr-2" th:text="'Go back to'"></small>
                                            <a href="/mvc/auth/login" th:href="@{/mvc/auth/login}"
                                               class="text-dark font-weight-bold"
                                               th:text="'Login'">Login</a>
                                        </p>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Select all buttons with the class 'toggle-password'
        const togglePasswordButtons = document.querySelectorAll(".toggle-password");

        togglePasswordButtons.forEach(button => {
            button.addEventListener("click", function () {
                // Find the associated password input field
                const passwordField = button.previousElementSibling;

                // Toggle the type between 'password' and 'text'
                if (passwordField.type === "password") {
                    passwordField.type = "text";
                    button.innerHTML = '<i class="fas fa-eye-slash"></i>'; // Change icon to "eye-slash"
                } else {
                    passwordField.type = "password";
                    button.innerHTML = '<i class="fas fa-eye"></i>'; // Change icon back to "eye"
                }
            });
        });
    });
</script>
<footer th:insert="~{fragments/Page-Layout :: footer}"></footer>
</body>
</html>